*.sqlite
.DS_Store
coverage
dist
api-reference
node_modules
lerna-debug.log

# IDE
.idea

# Configuration
.env
.env-test
.env.executors
.forestadmin-schema.json

# forest-bff openapi --output default destination
openapi.json

# yarn
yarn-error.log
.vscode/settings.json
.claude/settings.local.json
