version: '3.1'
services:
  postgres:
    image: postgres:12.7
    container_name: forest_datasource_sql_test_postgres
    ports:
      - '5443:5432'
    environment:
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=password

  mysql:
    image: mysql:oracle
    container_name: forest_datasource_sql_test_mysql
    ports:
      - '3307:3306'
    environment:
      - MYSQL_ROOT_PASSWORD=password

  mssql:
    image: mcr.microsoft.com/azure-sql-edge
    container_name: forest_datasource_sql_test_mssql
    ports:
      - '1434:1433'
    environment:
      - MSSQL_SA_PASSWORD=yourStrong(!)Password
      - ACCEPT_EULA=Y

  mariadb:
    image: mariadb:latest
    container_name: forest_datasource_sql_test_mariadb
    ports:
      - '3809:3306'
    environment:
      - MARIADB_ROOT_PASSWORD=password

  socks-proxy:
    image: serjs/go-socks5-proxy
    container_name: socks_proxy
    ports:
      - '1080:1080'
    environment:
      - PROXY_USER=username
      - PROXY_PASSWORD=password
