name: Lint, Build, Test and Doc

on:
  push:
    branches:
      - main
      - alpha
      - 'alpha-*'
      - beta
      - 'beta-*'
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Building
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Cancel previous running workflows
        uses: fkirc/skip-duplicate-actions@master
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.0
      - uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'packages/**/package.json', 'patches/*.patch') }}
      - name: Bootstrap
        run: yarn bootstrap --ci
      - name: Build
        run: yarn build
      - name: Upload build
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: 'packages/**/dist/*'
          retention-days: 1

  lint:
    name: Linting
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.0
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'packages/**/package.json', 'patches/*.patch') }}
      - name: Lint commit message
        uses: wagoid/commitlint-github-action@v5
      - name: Lint Typescript
        run: yarn lint

  test:
    name: Testing
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [build]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.0
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'packages/**/package.json', 'patches/*.patch') }}
      - name: Download build
        uses: actions/download-artifact@v3
        with:
          name: build
          path: 'packages/'
      - name: Start docker datasource-sql containers
        run: docker-compose -f ./packages/datasource-sql/docker-compose.yml up -d; sleep 5
      - name: Start docker datasource-mongoose containers
        run: docker-compose -f ./packages/datasource-mongoose/docker-compose.yml up -d; sleep 5
      - name: Send coverage
        uses: paambaati/codeclimate-action@84cea27117a473d605400ca3a97fcef7e433e2d6
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageLocations: |
            ${{github.workspace}}/coverage/lcov.info:lcov
          coverageCommand: yarn test:coverage

  doc-link-validation:
    name: Validate Links in doc
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.0
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'packages/**/package.json', 'patches/*.patch') }}
      - name: Check links in doc
        run: yarn docs:check-links

  build-api-reference:
    name: Build API Reference
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.0
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'packages/**/package.json', 'patches/*.patch') }}
      - name: Build doc
        run: yarn docs
      - name: Archive documentation artifacts
        uses: actions/upload-pages-artifact@v1
        with:
          path: api-reference

  release:
    name: Release packages
    runs-on: ubuntu-latest
    needs: [build-api-reference, doc-link-validation, test, lint]
    if: |
      github.event_name == 'push' 
      && (
        github.ref == 'refs/heads/main' 
        || github.ref == 'refs/heads/beta' 
        || github.ref == 'refs/heads/alpha' 
        || startsWith('refs/heads/alpha-', github.ref) 
        || startsWith('refs/heads/beta-', github.ref)
      )
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false # GITHUB_TOKEN must not be set for the semantic release
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.0
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'packages/**/package.json', 'patches/*.patch') }}
      - name: Download build
        uses: actions/download-artifact@v3
        with:
          name: build
          path: 'packages/'
      - name: Configure npm
        run: |
          echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' > .npmrc
          cat .npmrc
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Disable workspaces-update
        run: npm config set workspaces-update false
      - name: 'Run multi-semantic-release'
        run: '$(yarn bin)/multi-semantic-release --deps.bump=override'
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_AUTHOR_EMAIL }}
          GIT_AUTHOR_NAME: ${{ secrets.GIT_AUTHOR_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_COMMITTER_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.GIT_COMMITTER_NAME }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

  publish-api-reference:
    name: Publish API Reference
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: [build-api-reference, release]
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
