name: Lint, Build, Test and Doc

on:
  push:
    branches:
      - main
      - beta
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Cancel previous running workflows
        uses: fkirc/skip-duplicate-actions@master
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17.6
      - uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'packages/_example/package.json') }}
      - name: Bootstrap
        run: yarn bootstrap --ci
      - name: Build
        run: yarn build
      - name: Upload build
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: 'packages/**/dist/*'
          retention-days: 1

  lint:
    name: Linting
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17.6
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'packages/_example/package.json') }}
      - name: Download build
        uses: actions/download-artifact@v3
        with:
          name: build
          path: 'packages/'
      - name: Lint commit message
        uses: wagoid/commitlint-github-action@v2
      - name: lint Javascript
        run: yarn lint

  test:
    name: Testing
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17.6
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'packages/_example/package.json') }}
      - name: Download build
        uses: actions/download-artifact@v3
        with:
          name: build
          path: 'packages/'
      - name: Send coverage
        uses: paambaati/codeclimate-action@84cea27117a473d605400ca3a97fcef7e433e2d6
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageLocations: |
            ${{github.workspace}}/coverage/lcov.info:lcov
          coverageCommand: yarn test:coverage

  doc:
    name: Doc
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17.6
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'packages/_example/package.json') }}
      - name: Build doc
        run: yarn docs
      - name: Archive documentation artifacts
        uses: actions/upload-artifact@v3
        with:
          name: api-reference
          path: api-reference

  publish-doc:
    name: Publish documentation
    runs-on: ubuntu-latest
    needs: [doc, test, lint]
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ github.repository }}.wiki
      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          name: api-reference
      - name: Commit api reference
        run: |
          git config --local user.email ${{ secrets.GIT_COMMITTER_EMAIL }}
          git config --local user.name ${{ secrets.GIT_COMMITTER_NAME }}
          git commit -am "docs: update api-reference on github wiki"
          git push

  release:
    name: Release packages
    runs-on: ubuntu-latest
    needs: [doc, test, lint]
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/beta')
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false # GITHUB_TOKEN must not be set for the semantic release
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17.6
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock', 'packages/_example/package.json') }}
      - name: Download build
        uses: actions/download-artifact@v3
        with:
          name: build
          path: 'packages/'
      - name: 'Run multi-semantic-release'
        run: '$(yarn bin)/multi-semantic-release'
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_AUTHOR_EMAIL }}
          GIT_AUTHOR_NAME: ${{ secrets.GIT_AUTHOR_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_COMMITTER_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.GIT_COMMITTER_NAME }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
