name: Lint, Build, Test and Doc

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Cancel previous running workflows
        uses: fkirc/skip-duplicate-actions@master
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17.6
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: install dependencies
        run: yarn install --frozen-lockfile --non-interactive --production=false
      - name: Bootstrap
        run: yarn bootstrap
      - name: Build
        run: yarn build
      - name: Upload build
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: 'packages/**/dist/*'
          retention-days: 1

  lint:
    name: Linting
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17.6
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Download build
        uses: actions/download-artifact@v2
        with:
          name: build
          path: 'packages/'
      - name: Lint commit message
        uses: wagoid/commitlint-github-action@v2
      - name: lint Javascript
        run: yarn lint

  test:
    name: Testing
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17.6
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Download build
        uses: actions/download-artifact@v2
        with:
          name: build
          path: 'packages/'
      - name: Send coverage
        uses: ForestAdmin/codeclimate-action@master
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageLocations: |
            ${{github.workspace}}/coverage/lcov.info:lcov
          ref: ${{ env.CHECKOUT_REFERENCE }}
          coverageCommand: yarn test:coverage

  doc:
    name: Doc
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.17.6
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Build doc
        run: yarn docs
      - name: Archive documentation artifacts
        uses: actions/upload-artifact@v3
        with:
          name: api-reference
          path: api-reference

  publish-doc:
    name: Publish documentation
    runs-on: ubuntu-latest
    needs: [doc, build, test]
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ github.repository }}.wiki
      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          name: api-reference
      - name: Commit api reference
        run: |
          git config --local user.email ${{ secrets.GIT_COMMITTER_EMAIL }}
          git config --local user.name ${{ secrets.GIT_COMMITTER_NAME }}
          git add .
          git commit -m "Update api-reference on github wiki"
          git push
